@using Apps.Web.Core;
@using Apps.Common;
@using Apps.Models.Sys;
@using Apps.Locale;
@{
    ViewBag.Title = "设置角色包含的用户";
    Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";

    List<permModel> perm = null;
}

<div class="mvctool bgb">
    <input id="txtQuery" placeholder="请输入关键字" type="text" class="searchText" />
    @Html.ToolButton("btnQuery", "fa fa-search", Resource.Query,  true)
     @Html.ToolButton("btnClear", "fa fa-trash", Resource.Clear,  false)
    @Html.ToolButton("btnReturn", "fa fa-reply", Resource.Reply, false)  <span style="line-height:26px;float:right;margin-right:5px;" id="selCount"></span>
</div>
<table>
    <tr>
        <td style="vertical-align: top; width: 200px;overflow:auto">
            @Html.Raw(ViewBag.StructTree)
        </td>
        <td style="padding: 3px">
            <table id="UserList"></table>
        </td>
    </tr>
</table>
<script type="text/javascript">
    var mykey = getUrlParam("key", "CustomMember");
    var myval = getUrlParam("val", "CustomMemberList");



    function getSelected() {
        var node = $('#StructTree').tree('getSelected');
        if (node) {
            var id = node.attributes.id;
            $("#UserList").datagrid("load", { depId: id });
        }
    }
    $(function () {
        $("#btnQuery").click(function () {
            var queryStr = $("#txtQuery").val();
            if (queryStr == null) {
                queryStr = "%";
            }
            $("#UserList").datagrid("load", { depId: 'root', queryStr: queryStr });
        });

        $("#btnClear").click(function () {
            $("input[type='checkbox']").prop("checked", false);
            window.parent.SetSelResult("", "")
            $("#selCount").html("已经选择了 0 人");
        });
        $('#UserList').datagrid({
            url: '/SysHelper/GetUserListByDep?depId=root',
            width: SetGridWidthSub(190),
            methord: 'post',
            height: SetGridHeightSub(46),
            fitColumns: true,
            sortName: 'Id',
            sortOrder: 'desc',
            idField: 'Id',
            pageSize: 12,
            pageList: [12, 20, 30, 40, 50],
            pagination: true,
            striped: true, //奇偶行是否区分
            singleSelect: true,//单选模式
            columns: [[
                { field: 'Id', title: 'ID', width: 80, hidden: true },
                { field: 'UserName', title: '用户名', width: 120 },
                { field: 'TrueName', title: '姓名', width: 80 },
                { field: 'DepName', title: '部门', width: 80 },
                { field: 'PosName', title: '职位', width: 80 },
                { field: 'Flag', title: '是否选择了', width: 80}
            ]],
            onLoadSuccess: function () {
                var rows = $("#UserList").datagrid("getRows");
                for (var i = 0; i < rows.length; i++) {
                    //获取每一行的数据
                    $('#UserList').datagrid('beginEdit', i);
                }
                var arrVal = window.parent.GetSelResult(mykey, myval);//获得已经选择的值
                if (arrVal[0]!="")
                {
                    var arr = new Array();
                    arr = arrVal[0].split(',');
                    for (var i = 0; i < arr.length; i++)
                    {
                        $("#cb_" + arr[i]).prop("checked",true);
                    }
                    $("#selCount").html("已经选择了 " + arr.length + " 人");
                }
              
            }
        });
        $("#btnReturn").click(function () {
            window.parent.frameReturnByClose();
        });
    });


    function SetValue(id,name)
    {
        var b = false;
        var arrVal = window.parent.GetSelResult(mykey, myval);//获得已经选择的值
        if (arrVal[0] != "") {
            var arr = new Array();
            var arrName = new Array();
            arr = arrVal[0].split(',');
            arrName = arrVal[1].split(',');
            for (var i = 0; i < arr.length; i++) {
                if (id == arr[i])
                {
                    if (!$("#cb_" + id).prop("checked"))//如果不是选择就是撤销
                    {
                        arr.splice(i, 1);
                        arrName.splice(i, 1);
                        b = true;
                    } 
                }
            }
            if (!b)
            {
                arr.push(id);
                arrName.push(name);
            }
            var data = arr.join(',');
            var dataName = arrName.join(',');

            window.parent.SetSelResult(data, dataName,mykey, myval)
            $("#selCount").html("已经选择了 " + arr.length + " 人");
        }
        else {

            window.parent.SetSelResult(id, name, mykey, myval)
            $("#selCount").html("已经选择了 1 人");
        }
       
    }
</script>

@* 在上级页面必须加入这2个方法才能调用 
        
 Html.HiddenFor(model => model.CustomMember)
<input id="CustomMemberList" name="CustomMemberList" readonly="readonly" type="text" style="width: 90px; display: inline; background: #dedede; ">
<a class="fa fa-plus-square color-gray fa-lg" id="selExc" href="javascript:void(0)"></a>
<script type="text/javascript">
    $(function () {
        $("#selExc").click(function () {
            $("#modalwindow").html("<iframe width='100%' height='100%' scrolling='no' frameborder='0'' src='/SysHelper/UserLookUp?key=CustomMember&val=CustomMemberList'></iframe>");
            $("#modalwindow").window({ title: '选择人员', width: 620, height: 388, iconCls: 'fa fa-plus' }).window('open');
        });
    });

    function SetSelResult(result, resultName,key,val) {
        $("#"+key).val(result);
        $("#"+val).val(resultName);
    }
    function GetSelResult(key,val) {
        var arrayObj = new Array()
        arrayObj[0] = $("#"+key).val();
        arrayObj[1] = $("#"+val).val();
        return arrayObj;
    }
    //ifram 返回
    function frameReturnByClose() {
        $("#modalwindow").window('close');
    }
</script>
 *@