<?xml version="1.0" encoding="utf-8"?>
<System.Config>
  <appSettings>
    <add key="DataBase" value="Integrated Security=false;Initial Catalog=XDWMS-Ymnets;Data Source=.;User ID=sa;Password=123;Connect Timeout=30" />
    <add key="Path" value="d:\\Temp\\YmnetsCode\\" />
  </appSettings>
</System.Config>
