@model Apps.Models.MIS.MIS_ArticleModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Index_Layout.cshtml";
}

<table style="width:100%;  ">
    <tr>
        <td colspan="2" style="text-align:center;line-height:40px; font-size:20px; font-weight:700">@Html.Raw(Model.Title)</td>
    </tr>
    <tr><td style="text-align:right; border-bottom:1px solid #ccc">发布人：@Model.CreaterName 发布时间：@Model.CreateTime</td ></tr>
    <tr><td>
        @Html.Raw(Model.BodyContent)
        </td></tr>
</table>


