@using Apps.Common;
@using Apps.Web.Core;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";
}
<link href="../../../../Content/WebIM/css/tree.css" rel="stylesheet" type="text/css" />
<script src="../../../../Content/WebIM/src/Plugins/jquery.tree.js" type="text/javascript"></script>
<script src="../../../../Resources/kindeditor/kindeditor-min.js" type="text/javascript"></script>
<script type="text/javascript">
    //定时刷新聊天内容时间
    var MIS0002 =@(ViewBag.MIS0002)000;
    //刷新最近联系人
    var MIS0003 = @(ViewBag.MIS0003)000;
    //定时刷新是否有新消息
    var MIS0004 = @(ViewBag.MIS0004)000;
</script>
<script src="../../../../Scripts/WebIM3.js" type="text/javascript"></script>
<div class="mvctool bgb">
    @Html.ToolButton("btnSave", "but-save", "确定", true)
    @Html.ToolButton("btnReturn", "but-return", "返回", false)
</div>
<table style="margin-top:5px; margin-left:12px">
    <tr>
        <td>
            <div class="psselect-lf">
                <ul class="webim-list-tab">
                    <li id="MemberList" class="current"><a href="javascript:void(0)">人员列表</a></li>
                    <li id="LatestList"><a href="javascript:void(0)">最近联系人</a></li>
                </ul>
                <div id="MemberListDiv" class="webim-org" style="position: relative">
                    <div class="webim-org-search">
                        <input name="" id="SelTxt" type="text" />
                    </div>
                    <ul id="SelMemberList" style="display: none; position: absolute; left: 0; top: 18px;
                        width: 122px; background-color: #eef7fc; border: 1px #d3e5ee solid; padding: 5px;">
                    </ul>
                    <div class="memberlist">
                        <div id="MemberListTree">
                            <div class="panel-loading">
                                Loading...</div>
                        </div>
                    </div>
                </div>
                <div id="LatertDiv" style="display: none" class="webim-latest">
                </div>
        </td>
        <td>
            >>
        </td>
        <td>
            <div class="psselect-rt">
                <span class="inter-ps" id="WaitMemberList"></span>
                <br />
                <a id="ClearWaitList" href="javascript:void(0)">[清空]</a>
            </div>
        </td>
    </tr>
</table>
