<?xml version="1.0"?>
<SysConfigModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <webname>新电仓库管理系统</webname>
  <webcompany>江西新电汽车空调系统有限公司</webcompany>
  <weburl>http://www.jlxd.com</weburl>
  <webtitle>管理系统</webtitle>
  <webkeyword>管理系统</webkeyword>
  <webdescription>管理系统</webdescription>
  <webcopyright>版权所有 管理系统 © Copyright 2009 - 2017. ymnets.com. All Rights Reserved.</webcopyright>
  <webpath>/</webpath>
  <webmanagepath>Apps</webmanagepath>
  <webstatus>1</webstatus>
  <webclosereason>网站正在维护中，请稍候访问……</webclosereason>
  <webcountcode>&lt;script src="http://s24.cnzz.com/stat.php?id=1996164&amp;web_id=1996164&amp;show=pic" language="JavaScript"&gt;&lt;/script&gt;</webcountcode>
  <logstatus>1</logstatus>
  <exceptionstatus>1</exceptionstatus>
  <emailstmp>smtp.qq.com</emailstmp>
  <emailport>25</emailport>
  <emailfrom>ymnets@qq.com</emailfrom>
  <emailusername>ymnets@qq.com</emailusername>
  <emailpassword>123456</emailpassword>
  <emailnickname>App</emailnickname>
  <reportfilepath>ReportFiles</reportfilepath>
  <attachpath>upload</attachpath>
  <attachextension>gif,jpg,png,bmp,rar,zip,doc,docx,xls,xlsx,txt,mp3,frx</attachextension>
  <attachsave>2</attachsave>
  <attachfilesize>0</attachfilesize>
  <attachimgsize>0</attachimgsize>
  <attachimgmaxheight>800</attachimgmaxheight>
  <attachimgmaxwidth>800</attachimgmaxwidth>
  <thumbnailheight>300</thumbnailheight>
  <thumbnailwidth>300</thumbnailwidth>
  <watermarktype>1</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>ymnets</watermarktext>
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <templateskin>blue</templateskin>
  <sysdatabaseprefix>Sys_</sysdatabaseprefix>
  <sysencryptstring>Apps</sysencryptstring>
  <webimstatus>0</webimstatus>
  <refreshcurrentwin>3000</refreshcurrentwin>
  <refreshrecentcontact>150000</refreshrecentcontact>
  <refreshnewmessage>3000</refreshnewmessage>
  <taskstatus>1</taskstatus>
  <globalexceptionstatus>1</globalexceptionstatus>
  <globalexceptionurl>/SysException/Error</globalexceptionurl>
  <issinglelogin>0</issinglelogin>
  <WeChatApiUrl>http://ymnets.imwork.net/WC/WeChat/?id=</WeChatApiUrl>
  <WeChatSiteUrl>http://ymnets.imwork.net</WeChatSiteUrl>
</SysConfigModel>